.slide {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    // position: relative;
    
    // z-index: -1;
    .container {
        width: 1400px;
        

        .mySwiper {
           
            
        }
    }
}